# Modelo de Datos Formula 1
### Mart√≠n Adolfo Morales Estrada

In [1]:
import requests
import json
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings("ignore")

## Tabla races

In [ ]:
races={"season":[],"round":[],"raceName":[],"circuitId":[],"lat":[],"long":[],"country":[],"date":[],"url":[]}

In [ ]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(item['Circuit']['Location']['lat'])
        races['long'].append(item['Circuit']['Location']['long'])
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

In [ ]:
pd.DataFrame(races)

In [ ]:
pd.DataFrame(races).to_csv('races.csv', index=False)

## Tabla seasons

In [ ]:
seasons={'season':[],'url':[]}

In [ ]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/seasons.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['SeasonTable']['Seasons']:
        seasons['season'].append(int(item['season']))
        seasons['url'].append(item['url'])

In [ ]:
pd.DataFrame(seasons)

In [ ]:
pd.DataFrame(seasons).to_csv('seasons.csv', index=False)

## Tabla drivers

In [ ]:
drivers={'driverId':[],'permanentNumber':[],'code':[],'url':[],'givenName':[],'familyName':[],'dateOfBirth':[],'nationality':[]}

In [ ]:
for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}/drivers.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['DriverTable']['Drivers']:
        if item['driverId'] not in  drivers['driverId']:
            drivers['driverId'].append(item['driverId'])
            try:
                drivers['permanentNumber'].append(int(item['permanentNumber']))
            except:
                drivers['permanentNumber'].append(None)           
            drivers['code'].append(item['code'])
            drivers['url'].append(item['url'])
            drivers['givenName'].append(item['givenName'])
            drivers['familyName'].append(item['familyName'])
            drivers['dateOfBirth'].append(item['dateOfBirth'])
            drivers['nationality'].append(item['nationality'])
        else:
            next

In [ ]:
pd.DataFrame(drivers)

In [ ]:
pd.DataFrame(drivers).to_csv('drivers.csv', index=False)

## Tabla constructors

In [ ]:
constructors={'constructorId':[],'name':[],'nationality':[],'url':[]}

In [ ]:
for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}/constructors.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['ConstructorTable']['Constructors']:
        if item['constructorId'] not in constructors['constructorId']:
            constructors['constructorId'].append(item['constructorId'])   
            constructors['name'].append(item['name'])
            constructors['nationality'].append(item['nationality'])
            constructors['url'].append(item['url'])
        else:
            next

In [ ]:
pd.DataFrame(constructors)

In [ ]:
pd.DataFrame(constructors).to_csv('constructors.csv', index=False)

## Tabla circuits

In [ ]:
circuits={'circuitId':[],'circuitName':[],'locality':[],'country':[],'lat':[],'long':[],'url':[]}

In [ ]:
for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}/circuits.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)

    for item in content['MRData']['CircuitTable']['Circuits']:
        if item['circuitId'] not in circuits['circuitId']:
            circuits['circuitId'].append(item['circuitId'])
            circuits['url'].append(item['url'])
            circuits['circuitName'].append(item['circuitName'])
            circuits['lat'].append(item['Location']['lat'])
            circuits['long'].append(item['Location']['long'])
            circuits['locality'].append(item['Location']['locality'])
            circuits['country'].append(item['Location']['country'])
        else:
            next

In [ ]:
pd.DataFrame(circuits)

In [ ]:
pd.DataFrame(circuits).to_csv('circuits.csv', index=False)

## Tabla qualifying

In [ ]:
qualifying={'season':[],'raceId':[],'driverId':[],'constructorId':[],'number':[],'position':[],'Q1':[],'Q2':[],'Q3':[]}

In [ ]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    nround=int(len(content['MRData']['RaceTable']['Races']))
    
    for race in list(range(nround)):
        url = 'http://ergast.com/api/f1/{}/{}/qualifying.json'
        response = requests.get(url.format(year,race))
        content = json.loads(response.content)

        for item in content['MRData']['RaceTable']['Races'][0]["QualifyingResults"]:
            qualifying['season'].append(int(year))
            qualifying['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
            qualifying['driverId'].append(item['Driver']['driverId'])
            qualifying['constructorId'].append(item['Constructor']['constructorId'])
            qualifying['number'].append(item['number'])
            qualifying['position'].append(item['position'])    
            try:
                qualifying['Q1'].append((item['Q1']))
            except:
                qualifying['Q1'].append(None)
            try:
                qualifying['Q2'].append((item['Q2']))
            except:
                qualifying['Q2'].append(None)
            try:
                qualifying['Q3'].append((item['Q3']))
            except:
                qualifying['Q3'].append(None)

In [ ]:
pd.DataFrame(qualifying)

In [ ]:
pd.DataFrame(qualifying).to_csv('qualifying.csv', index=False)

## Tabla sprintResults

In [ ]:
sprintResults={'raceId':[],'driverId':[],'constructorId':[],'number':[],'grid':[],'position':[],'points':[],
               'laps':[],'time':[],'milliseconds':[],'fastestLap':[],'fastestLapTime':[],'statusId':[]}

In [ ]:
for year in list(range(2021,2023)):
    url = 'http://ergast.com/api/f1/{}/sprint.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)

    for item in content['MRData']['RaceTable']['Races'][0]['SprintResults']:
        sprintResults['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        sprintResults['driverId'].append(item['Driver']['driverId'])
        sprintResults['constructorId'].append(item['Constructor']['constructorId'])
        sprintResults['number'].append(item['number'])
        sprintResults['grid'].append(item['grid'])
        sprintResults['position'].append(item['position'])
        sprintResults['points'].append(item['points'])
        sprintResults['laps'].append(item['laps'])
        try:
            sprintResults['time'].append(item['Time']['time'])
        except:
            sprintResults['time'].append(np.nan)
        try:
            sprintResults['milliseconds'].append(item['Time']['millis'])
        except:
            sprintResults['milliseconds'].append(np.nan)
        try:
            sprintResults['fastestLap'].append(item['FastestLap']['lap'])
        except:
            sprintResults['fastestLap'].append(np.nan)
        try:
            sprintResults['fastestLapTime'].append(item['FastestLap']['Time']['time'])
        except:
            sprintResults['fastestLapTime'].append(np.nan)
        sprintResults['statusId'].append(item['status'])

In [ ]:
pd.DataFrame(sprintResults)

In [ ]:
pd.DataFrame(sprintResults).to_csv('sprintResults.csv', index=False)

## Tabla status

In [ ]:
status={'statusId':[],'status':[]}

In [ ]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/status.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['StatusTable']['Status']:
        if item['statusId'] not in status['statusId']:
            status['statusId'].append(item['statusId'])
            status['status'].append(item['status'])
        else:
            next

In [ ]:
pd.DataFrame(status)

In [ ]:
pd.DataFrame(status).to_csv('status.csv', index=False)

## Tabla results

In [ ]:
results={'raceId':[],'driverId':[],'constructorId':[],'number':[],'grid':[],'position':[],'points':[],'laps':[],'time':[],
         'milliseconds':[],'fastestLap':[],'rank':[],'fastestLapTime':[],'fastestLapSpeed':[],'statusId':[]}

In [ ]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/results.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in  content['MRData']['RaceTable']['Races'][0]['Results']:
        results['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        results['driverId'].append(item['Driver']['driverId'])
        results['constructorId'].append(item['Constructor']['constructorId'])
        results['number'].append(item['number'])
        results['grid'].append(item['grid'])
        results['position'].append(item['position'])
        results['points'].append(item['points'])
        results['laps'].append(item['laps'])
        try:
            results['time'].append(item['Time']['time'])
        except:
            results['time'].append(np.nan)
        try:
            results['milliseconds'].append(item['Time']['millis'])
        except:
            results['milliseconds'].append(np.nan)
        try:
            results['fastestLap'].append(item['FastestLap']['lap'])
        except:
            results['fastestLap'].append(np.nan)
        try:
            results['rank'].append(item['FastestLap']['rank'])
        except:
            results['rank'].append(np.nan)
        try:
            results['fastestLapTime'].append(item['FastestLap']['Time']['time'])
        except:
            results['fastestLapTime'].append(np.nan)
        try:
            results['fastestLapSpeed'].append(item['FastestLap']['AverageSpeed']['speed'])
        except:
            results['fastestLapSpeed'].append(np.nan)
        results['statusId'].append(item['status'])

In [ ]:
pd.DataFrame(results)

In [ ]:
pd.DataFrame(results).to_csv('results.csv', index=False)

## Tabla pitStops

In [ ]:
pitStops={'driverId':[],'stop':[],'lap':[],'time':[],'duration':[]}

In [ ]:
for year in list(range(2011,2023)):
    url='http://ergast.com/api/f1/{}/1/pitstops.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races'][0]['PitStops']:
        pitStops['driverId'].append(item['driverId'])
        pitStops['lap'].append(item['lap'])
        pitStops['stop'].append(item['stop'])
        pitStops['time'].append(item['time'])
        pitStops['duration'].append(item['duration'])

In [ ]:
pd.DataFrame(pitStops)

In [ ]:
pd.DataFrame(pitStops).to_csv('pitStops.csv', index=False)

## Tabla lapTimes

In [2]:
lapTimes={'driverid':[],'lap':[],'position':[],'time':[]}

In [3]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/1/laps.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races'][0]['Laps'][0]['Timings']:
        lapTimes['driverid'].append(item['driverId'])
        lapTimes['lap'].append(content['MRData']['RaceTable']['Races'][0]['Laps'][0]['number'])
        lapTimes['position'].append(item['position'])
        lapTimes['time'].append(item['time'])

In [4]:
pd.DataFrame(lapTimes)

      driverid lap position      time
0       vettel   1        1  2:03.366
1       alonso   1        2  2:05.394
2        massa   1        3  2:06.758
3      rosberg   1        4  2:08.063
4     hamilton   1        5  2:08.558
..         ...  ..      ...       ...
256     norris   1       16  1:50.088
257     stroll   1       17  1:50.439
258     latifi   1       18  1:51.134
259       zhou   1       19  1:51.374
260  ricciardo   1       20  1:51.601

[261 rows x 4 columns]

In [5]:
pd.DataFrame(lapTimes).to_csv('lapTimes.csv', index=False)

## Tabla driverStandings

In [6]:
driverStandings={'season':[],'driverId':[],'points':[],'position':[],'wins':[]}

In [8]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/driverStandings.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
        driverStandings['season'].append(int(year))
        driverStandings['driverId'].append(item['Driver']['driverId'])
        driverStandings['points'].append(item['points'])
        driverStandings['position'].append(item['position'])
        driverStandings['wins'].append(item['wins'])

In [9]:
pd.DataFrame(driverStandings)

     season    driverId points position wins
0      2010      vettel    256        1    5
1      2010      alonso    252        2    5
2      2010      webber    242        3    4
3      2010    hamilton    240        4    3
4      2010      button    214        5    2
..      ...         ...    ...      ...  ...
299    2022        zhou      6       18    0
300    2022       albon      4       19    0
301    2022      latifi      2       20    0
302    2022    de_vries      2       21    0
303    2022  hulkenberg      0       22    0

[304 rows x 5 columns]

In [10]:
pd.DataFrame(driverStandings).to_csv('driverStandings.csv',index=False)

## Tabla constructorStandings

In [11]:
constructorStandings={'season':[],'constructorId':[],'points':[],'position':[],'wins':[]}

In [12]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}/constructorStandings.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']:
        constructorStandings['season'].append(int(year))
        constructorStandings['constructorId'].append(item['Constructor']['constructorId'])
        constructorStandings['points'].append(item['points'])
        constructorStandings['position'].append(item['position'])
        constructorStandings['wins'].append(item['wins'])

In [13]:
pd.DataFrame(constructorStandings)

     season constructorId points position wins
0      2010      red_bull    498        1    9
1      2010       mclaren    454        2    5
2      2010       ferrari    396        3    5
3      2010      mercedes    214        4    0
4      2010       renault    163        5    0
..      ...           ...    ...      ...  ...
134    2022          alfa     55        6    0
135    2022  aston_martin     55        7    0
136    2022          haas     37        8    0
137    2022    alphatauri     35        9    0
138    2022      williams      8       10    0

[139 rows x 5 columns]

In [14]:
pd.DataFrame(constructorStandings).to_csv('constructorStandings.csv',index=False)

## Tabla constructorResults

In [15]:
constructorResults = {'raceId':[],'constructorId': [], 'points': [], 'status': []}

In [16]:
for year in list(range(2010, 2023)):
    url = "http://ergast.com/api/f1/{}/results.json?limit=1000"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races'][10]['Results']:
        constructorResults['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        constructorResults['constructorId'].append(item['Constructor']['constructorId'])
        constructorResults['points'].append(item['points'])
        constructorResults['status'].append(item['status'])

In [17]:
pd.DataFrame(constructorResults)

                 raceId constructorId points            status
0    Bahrain Grand Prix       ferrari     25          Finished
1    Bahrain Grand Prix       ferrari     18          Finished
2    Bahrain Grand Prix      red_bull     15          Finished
3    Bahrain Grand Prix       mclaren     12          Finished
4    Bahrain Grand Prix       mclaren     10          Finished
..                  ...           ...    ...               ...
273  Bahrain Grand Prix    alphatauri      0            +1 Lap
274  Bahrain Grand Prix  aston_martin      0            +1 Lap
275  Bahrain Grand Prix       ferrari      0        Power Unit
276  Bahrain Grand Prix      williams      0         Undertray
277  Bahrain Grand Prix      red_bull      0  Collision damage

[278 rows x 4 columns]

In [18]:
pd.DataFrame(constructorResults).to_csv('constructorResults.csv',index=False)